@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.main {
    background: #FFFFFF;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

/* 1em = 16 que equivale a mi elemento padre */
/* 1rem = 16pz */
.header {
    width: 80%;
    height: 3.125rem;
    /* 50px/16 */
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 8.625rem;
    /* 20px/16 y 138px/16 */
    align-items: center;
}


.logo {
    width: 12.18em;
    height: 3.125rem;
    color: white;
    background: black;
    object-fit: cover;
}

.nav {
    width: 20%;
}


ul {
    display: flex;
    justify-content: space-between;
}

.item {
    list-style: none;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #000000;
}

.main__content {
    display: flex;
    justify-content: space-around;
    width: 95%;
    margin-top: 44px;
}

.img_content {
    width: 34.45rem;
    height: 19.68rem;
    background: #f2f2f2 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
}

article {
    width: auto;
    height: 20.06rem;
    text-align: justify;
    text-align: left;
    padding-left: 1rem;
    padding-top: 2rem;
}

.title {
    width: 25.56rem;
    height: 4.5rem;
    font-size: 2.5rem;
    color: #707070;
    letter-spacing: 0px;
}

.paragraph {
    width: 25.56rem;
    margin: 2.5rem 0rem 1.5rem 0;
    color: #707070;
    font: normal normal 300 20px/24px Lato;
    text-align: justify;
    opacity: 1;
}

.button {
    width: 210px;
    height: 40px;
    background: #000000 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 25px;
    text-align: center;
    font: normal normal bold 18px/24px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;

}

.header_subheading {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
    width: 80%;

}

.subheading {
    font: normal normal 900 24px/29px Lato;
    color: #707070;
}

.enlace-con-icono {
    width: 200px;
    height: 200px;
    border: solid green;
}


.fa-circle-right {
    font-size: 35px;
    color: #000000 0% 0% no-repeat padding-box;
    margin-left: 25px;

}

.icon {
    width: 15%;
    display: flex;
    align-items: center;
    color: #000000;
    text-decoration: none;
    justify-content: center;
    font: normal normal 300 18px/22px Lato;

}



.featured-heading {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #EFEFEF 0% 0% no-repeat padding-box;
    padding-top: 2rem;
    padding-bottom: 4.5rem;
}


/* ------------------------------------------------------------------------*/

/* background-image: url(../Img/66a182176191275.Y3JvcCw4MDgsNjMyLDkyLDA@2x.png); */

.container_cards {
    width: 80%;
    margin: 1rem 10% 0 10%;
    height: auto;
    display: flex;
    color: white;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 30%;
    background: #ffff;
    border-radius: 20px;
    height: 290px;
}

.img_card {
    background: #F2F2F2 0% 0% no-repeat padding-box;
    width: 95%;
    height: 240px;
    margin: 5px 2.5%;
    border-radius: 20px;

    /* acomodar los elementos  */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;

}

.fa-star {
    color: #C1C1C1;
    font-size: 25px;
    margin-top: 10px;
}

.item_card {
    width: 80%;
    list-style: none;
    display: flex;
    align-items: end;

}

.type {
    color: #707070;
    background: #FFFFFF;
    border-radius: 20px;
    width: 90px;
    margin: 0px 5px 10px 5px;
    text-align: center;
    text-decoration: none;
}

.name {
    margin-left: 25px;
    text-align: left;
    font: normal normal 300 18px/22px Lato;
    color: #000000;

}

/* seccion 2 */
.featured-heading_2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    padding-top: 2rem;
}

.paragraph_2 {
    width: 25.56rem;
    color: #707070;
    font: normal normal 300 18px/22px Lato;
    text-align: justify;
    opacity: 1;
}

.fa-star_2 {
    color: #f2f2f2;
    font-size: 25px;
    margin-top: 10px;
}

/* footer */
.footer {
    background: #707070;
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: space-around;

}

.colors-icon {
    width: 36px;
    height: 36px;
    font-size: 24px;
    color: #464646;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 8px;
}

.container_F1 {
    width: 28%;
    padding-right: 20px;
}

.left{
    padding-left: 40px;
}


.paragraph_3 {
    margin-left: 90px;
    font: normal normal 300 16px/19px Lato;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.logo_1 {
    width: 12.18em;
    height: 3.125rem;
    color: white;
    background: black;
    object-fit: cover;
    margin-left: 90px;
    margin-top: 30px;
}

.list_footer {
    display: flex;
    flex-direction: column;
    margin-left: 28%;
    margin-top: 20%;
    font: normal normal 300 16px/19px Lato;
    letter-spacing: 0px;
    color: #FFFFFF;
    list-style: none;
    line-height: 28px;

}

.container_F1:nth-child(3) {
    margin-top: 80px;


}

.social-icons{
    width: 30%;
    margin: 0 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;

}